html 					{ overflow-y:scroll; }
body 					{ padding-top:50px; }
#order-list 			{ margin-bottom:30px; }
#order-form 	 		{ margin-bottom:50px; }

/*hide the arrow for the input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/*some help class*/
.margin-right-38{
	margin-right:38px;
}
.margin-right-10{
	margin-right:10px;
}
.margin-15{
	margin-left:15px;
}
.confirm{
	position:fixed;
	z-index: 100;
	left:30%;
	top:40%;
	background:red;
	width:40%;
	height:40%;

}